.body{
    margin: 0px;
    background-color: #EEEEEE;
}
.navbar{
    background-color: #0064de;
    height: 200px;
    color: #EEEEEE;
    z-index: 5;
    position: fixed;
}
.top_navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: -10px;
    padding-left: 30px;
    padding-right: 30px;
}
.vertical_line{
    border-right: solid 1.5px;
    height: 30px;
}
.ad{
    display: flex;
    margin-left: -23px;
    gap: 2px;
}
.h5{
    text-decoration: none;
    color: #EEEEEE;
}
.h5:hover{
    cursor: pointer;
    color: #ffb08f;
}
.web_name{
    text-decoration: none;
    color: #ffffff;
}
.icon{
    cursor: pointer;
}
.notification{
    position: relative;
    display: inline-block;
}
.notification_dropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
    height: 200px;
    width: 300px;
    text-align: center;
    margin-left: -100px;
}
.notification:hover{
    cursor: pointer;
    color: #ffb08f;
}
.notification:hover .notification_dropdown{
    display: block;
    color: #000000;
}
.language:hover{
    color: #ffb08f;
}
.cart{
    position: relative;
    display: inline-block;
}
.cart_dropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
    margin-left: -250px;
    height: 200px;
    width: 350px;
    text-align: center;
}
.cart:hover{
    cursor: pointer;
}
.cart:hover .cart_dropdown{
    display: block;
    color: #000000;
}
.right_navbar1{
    display: flex;
    gap: 10px;
}
#login{
    display: flex;
    gap: 10px;
}
.bottom_navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: -20px;
    padding-left: 30px;
    padding-right: 80px;
}
.search_bar{
    height: 56px;
    width: 1100px;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
}
.search_button{
    height: 50px;
    width: 50px;
    position: relative;
    left: -58px;
    top: -4px;
    font-size: 20px !important;
    margin: 0px !important;
    border-radius: 10px !important;
    background-color: #0064de !important;
    border: none !important;
}
.search_button:hover{
    background-color: #004fb0 !important;
}
#productDiv{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 30px;
}
.product-item{
    height: 350px;
    width: 258px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 20px;
    border: solid 2px #0064de;
}
.product-item:hover{
    border: solid 4px #0064de;
}
.price{
    display: none;
}
.name{
    padding: 5px 10px;
    font-size: 25px;
    text-align: center;
}
.img{
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.bar{
    background-color: #004fb0;
    height: 100px;
    color: #EEEEEE;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/001/987/697/small_2x/abstract-hexagon-pattern-dark-blue-background-medical-and-science-concept-molecular-structures-free-vector.jpg);
}
.footer{
    background-color: #0064de;
    height: 300px;
    color: #EEEEEE;
    display: flex;
    gap: 300px;
    padding: 20px 30px;
}       